.settingsContainer {
}
.settingsDays {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  gap: 10px;
}

.timePickerWrapper {
  margin: 10px;
  gap: 10px;
  padding-left: 50px;
  font-size: 1.5rem;
}
.timePicker {
  font-size: 1.8rem;
  border-radius: 10px;
}
.react-time-picker__wrapper {
  border-radius: 10px;
}
.customInput {
  background-color: inherit;
  border: 1px solid #ccc;
}
.settingsType {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
