.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0px solid #cbcfd4;
  width: 100%;
  background-color: #313a4d;
  color: white;
  min-height: 8vh;
  position: relative;

  padding: 10px;
  border-radius: 10px;
  .active {
    top: -10px;
    right: -10px;
    position: absolute;
    color: #26c672;
    background-color: white;
    border-radius: 50%;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
  }
  &.success {
    background-color: green;
  }
  span {
    display: flex;
    font-size: 1.8rem;
  }
}
