.btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0px solid #cbcfd4;
  width: 100%;

  background-color: #313a4d;
  color: white;

  height: 7vh;
  position: relative;

  padding: 10px;
  border-radius: 10px;
  &.day {
    width: 100%;
    &.active {
      background-color: #d3a245;
    }

    &.disabled {
      background-color: red;
    }
  }
  .active {
    top: -8px;
    right: -8px;
    position: absolute;
    color: #26c672;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 50%;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
  }
  &.success {
    background-color: green;
  }
  span {
    display: flex;
    font-size: 1.8rem;
  }
}
